.lia.cache

*.aux
*.glob
*.vo
*.vok
*.vos

.\#*
\#*\#

.DS_Store
.Makefile.coq.d
Makefile.coq
Makefile.coq.conf

/opam-4.*
/opam-5.*
/_build
.Makefile.d
/Makefile
/Makefile.conf
elykseer.opam
elykseer_base.opam
elykseer_utils.opam

/.vscode

**/meta
**/lxr

test1M
test1M.large
test1M.new
test1M.orig
test1M.small
test32k
test4M
test8M
testCHAR

*.swp

/html
/mlihtml

dist/
docker/output/

irmin.yml

